/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.awesome_modal{
  font-size: 30px;
  padding: 40px;
}

.no_border{
  border: none !important;
}