<div class="card-box">
  <div class="row m-b-10">
    <div class="col-md-12">
    </div>
  </div>
  <span class="hidden" id="applicazioni"><%=@applicazioni%></span>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div id="main_container_react"></div>
        
    </div>
  </div>
  
</div>